.shopSection {
  padding: 30px 0;
}
.container {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

.shopItems {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.shopItem {
  width: 23%;
}
@media only screen and (max-width: 768px) {
  .shopItem {
    width: 46%;
    padding: 20px 0;
  }
}
