.wrapper {
  border: 2px #dcd3d3 solid;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 1px;
}

.plusMinus {
  background: white;
  border: none;
  color: #5f5fce;
  width: 100%;
}

.quantityNumber {
  font-size: 3.3vw;
  text-align: center;
}
