.form {
  min-width: 300px;
  display: flex;
  justify-content: center;
  display: flex;
}

.loginLabel {
  color: #089a73;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.loginInput {
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorMsg {
  font-size: 12px;
  color: #862020;
  font-style: oblique;
}
