.userName {
  color: rgba(51, 51, 58, 1);
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  line-height: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.userName span{
  font-weight: 600;
    text-transform: uppercase;

}