.header{
color: rgba(3,3,3,1);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 18px;
font-weight: 600;
font-style: normal;
letter-spacing: 0px;
text-align: left;
line-height: 40px;
}