.container {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

.showBtn {
  margin-top: 24px;
  justify-content: center;
  display: flex;
}

.videoCards {
  display: flex;
  justify-content: space-between;
}
.videoCard {
  width: 32%;
}
@media only screen and (max-width: 768px) {
  .videoCards {
    flex-direction: column;
  }
  .videoCard {
    padding: 30px 0;
    width: 80%;
    margin: auto;
  }
}
