.dialogSubTitle {
  color: rgba(0, 0, 0, 1);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
  /* line-height: 30px; */
}

.information {
  opacity: 1;
  color: rgba(102, 102, 102, 1);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  text-align: justified;
}
