.slider {
  margin: auto;
  position: relative;
  background-color: red;
}

.headerImage {
  width: 100%;
}
.headerSection {
  overflow: hidden;

}
.headerContent {
  position: absolute;
  top: 25%;
  width: 100%;
}
.headerWrapper {
  margin: auto;
  justify-content: center;
  display: flex;
  width: 80%;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: auto;
}

.mainHeading {
  color: rgba(255, 255, 255, 1);
  font-family: "VLNewParisHeadline";
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  line-height: 80px;
  /* padding: 10px 0;
  width: 80%; */
}

.linkButton {
  text-decoration: none;
  font-family: "ProximaNova-Bold";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: solid 2px #fff;
  padding: 10px 0;
}
.linkButton:hover {
  color: #ccc;
  border-color: #ccc;
}
@media only screen and (max-width: 768px) {
  .mainHeading {
    font-size: 36px;
    padding: 0;
    width: 100%;
    text-align: center;
        /* background-color: rgb(92, 81, 81); */
        color: #fff;

  }
.headerSection{
    height: 170px;
}
  .headerImage {
    z-index: -1;
    object-fit: contain;
  }
  
  .container {
    justify-content: center;
    width: 100%;

  }
  .header {
    width: 100%;
  }

  .linkButton {
    width: 50%;
    display: block;
    margin: auto;
  }
  .headerWrapper {
    width: 100%;
    text-align: center;

    /* background-color: aqua; */
  }
  .headerContent {
    position: absolute;
    top: 10%;
    /* background-color: red; */
    color: #fff;
  }
}
